@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Pacifico&display=swap');

.login-form_title {
    margin: 50px auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: #f4ead8;
}

.login-form, .login-form * {
    box-sizing: border-box;
    font-family: sans-serif;
}

.login-form {
    max-width: 350px;
    margin: 30px auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px #00000070;
}

.login-form__logo-container {
    padding: 30px;
    background: #442e16;

}

.login-form__logo-container h1 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #f4ead8;
}

.login-form_contetent {
    padding: 30px;
    background: #f4ead8;

}

.login-form__header {
    margin-bottom: 15px;
    text-align: center;
    color: #464a45;
}

.login-form__input {
    
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #cccdcc;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.login-form__input:focus {
    border-color: #5f411f;
}

.login-form__input::placeholder {
    color: #aaaaaa;
} 

.login-form__button {
    padding: 10px;
    color: #ffffff;
    background-color: #4e8930;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-form__button:active {
    background-color: #51792b;
}
