@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Pacifico&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#c2a98a 0%, #7c4827 50%,  #4a2c19 75%, #080B0A 100% );
  height: 100%;
  position: fixed;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 /* results page */
.big-div{
  display: grid; 
  padding: 5px 70px;
  margin-bottom: 30px;
 }
.item1 {
  grid-column: 2;
  grid-row: 1;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #f4ead8;

}
.item2 {
  grid-row: 1 /span 4 ;
  grid-column: 1;
  margin-left: 50px;
  width: 150px;
  height: 150px;
}
.item3 {
  grid-column: 2;
  grid-row: 3;
  font-family: 'Josefin Sans', sans-serif;
  color: #f4ead8;
  font-size: 20px;
}
.item4 {
  grid-column: 2;
  grid-row: 5;
  font-family: 'Josefin Sans', sans-serif;
  color: #f4ead8;
}
.item5 {
  grid-column: 2;
  grid-row: 4;
}
.save-btn {
  width: 30px;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font {
  font-family: 'Josefin Sans', sans-serif;
  color: #f4ead8;
  font-size: 20px;
}