body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
 .links {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
 }
 /* results page */
.big-div{
  display: grid; 
  padding: 0 70px;
 }
.item1 {
  grid-column: 2;
  grid-row: 1;
}
.item2 {
  grid-row: 1 /span 4 ;
  grid-column: 1;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  background-color: #6F4E37 ;
}
.item3 {
  grid-column: 2;
  grid-row: 3;
}
.item4 {
  grid-column: 2;
  grid-row: 4;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
